* {
  box-sizing: border-box;
}
.xin-nav-link {
  padding: 0.5rem 0.25rem;
}
.xin-sideMenu {
  z-index: 1;
}

.pho-bg {
  position: relative;
  /* transition: 0.4s; */
  /* background-color: rgb(244, 191, 191); */
}

.xin-food-area {
  background-color: #fff;
}
.xin-rightArrow {
  display: none;
  position: absolute;
  right: -22px;
  top: 35vh;
  background: none;
  border: none;
  cursor: pointer;
  background-color: rgb(243, 178, 178);
  border: 2px solid rgb(254, 254, 254);
  /* padding: 20px; */
  border-radius: 10px;
  height: 51px;
  width: 54px;
}

.xin-rightArrow span {
  display: block;
  margin-top: 2px;
  background-color: #fff;
  border-radius: 15px;
  height: 4px;
  width: 30px;
  transition: 0.2s;
}

.xin-rightArrow:hover span {
  margin: auto;
}

.xin-rightArrow-in:hover span:nth-child(1) {
  width: 25px;
  transform: translate(-3px, 8px) rotate(30deg);
}
.xin-rightArrow-in:hover span:nth-child(2) {
  display: none;
}
.xin-rightArrow-in:hover span:nth-child(3) {
  width: 25px;
  transform: translate(-3px, -8px) rotate(-30deg);
}

.xin-rightArrow-out:hover span:nth-child(1) {
  width: 25px;
  transform: translate(0px, 8px) rotate(-30deg);
}
.xin-rightArrow-out:hover span:nth-child(2) {
  display: none;
}
.xin-rightArrow-out:hover span:nth-child(3) {
  width: 25px;
  transform: translate(0px, -8px) rotate(30deg);
}
.xin-leftArrow {
  display: none;
  position: absolute;
  right: 0px;
  top: 35vh;
  background: none;
  border: none;
  cursor: pointer;
  background-color: rgb(13, 220, 92);
  border: 2px solid rgb(254, 254, 254);
  /* padding: 20px; */
  border-radius: 10px;
  height: 51px;
  width: 54px;
}

.xin-leftArrow span {
  display: block;
  margin-top: 2px;
  background-color: #fff;
  border-radius: 15px;
  height: 4px;
  width: 30px;
  transition: 0.2s;
}

.xin-leftArrow:hover span {
  margin: auto;
}

.xin-leftArrow-in:hover span:nth-child(1) {
  width: 25px;
  transform: translate(-3px, 8px) rotate(-30deg);
}
.xin-leftArrow-in:hover span:nth-child(2) {
  display: none;
}
.xin-leftArrow-in:hover span:nth-child(3) {
  width: 25px;
  transform: translate(-3px, -8px) rotate(30deg);
}

.xin-leftArrow-out:hover span:nth-child(1) {
  width: 25px;
  transform: translate(0px, 8px) rotate(30deg);
}
.xin-leftArrow-out:hover span:nth-child(2) {
  display: none;
}
.xin-leftArrow-out:hover span:nth-child(3) {
  width: 25px;
  transform: translate(0px, -8px) rotate(-30deg);
}

/* .card .xin-card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* border-radius: 50%; */
/* border: 1px solid red; */

.card .xin-card-img-top {
  width: 100%;
  height: 7vw;
  object-fit: contain;
  flex-grow: 1;
}

.xin-card-body {
  padding: 0;
}

.selectedFoodArea {
  background-color: #fff;
}

.chooseArea {
  height: 45vh;
}
.selectedDetil {
  width: 65px;
  height: 65px;
}
.fa-trash {
  cursor: pointer;
}

.foodCard {
  cursor: pointer;
}
.canvasFood {
  position: relative;
}
.myCanvas {
  position: absolute;
}

@media screen and (max-width: 992px) {
  .xin-rightArrow {
    position: absolute;
    display: block;
  }
  .xin-leftArrow {
    position: absolute;
    left: -30px;
    display: block;
  }
  .selectedFoodSideMenuNX {
    position: relative;
  }
  .sideMenuNX {
    position: relative;
  }
  .xin-nav-link {
    padding: 0rem;
    margin: 0;
  }

  .hidden {
    display: none;
  }

  .hiddenSideBar {
    position: absolute;
    width: 2rem;
    height: 100vh;
    transition: all 0.2s;
  }

  .showSideBar {
    position: absolute;
    height: 100vh;
    width: 65%;
  }
  .hiddenSelectedFoodSideBar {
    position: absolute;
    width: 1rem;
    right: 0;
    height: 100vh;
    transition: all 0.2s;
  }

  .showSelectedFoodSideBar {
    position: absolute;
    right: 0;
    height: 100vh;
    width: 65%;
  }

  .card .xin-card-img-top {
    height: auto;
  }
  .selectedDetil {
    width: 50px;
    height: 50px;
  }
  .canvasFood {
    margin-top: 180px;
    width: 50%;
  }
}
