* {
  box-sizing: border-box;
}
.xin-nav-link {
  background-color: #3a2c2c;
  padding: 0.5rem 0.25rem;
  color: white;
}
.xin-sideMenu {
  z-index: 1;
}
.xin-nav-item {
  background-color: #3a2c2c;
  border: 1px solid white;
}
.xin-nav-item.active {
  background-color: #fff;
  color: #3a2c2c;
}

.xin-nav-item .xin-nav-link.active {
  background-color: transparent;
}

.xin-nav-item:hover {
  background-color: #fff;
  border: 1px solid #3a2c2c;
}
.xin-nav-item:hover .xin-nav-link {
  color: #3a2c2c;
}
.xin-font-primary-color {
  color: #3a2c2c;
}

.pho-bg {
  position: relative;
}
.lunchbox_stock {
  width: 50px;
}

.xin-food-area {
  background-color: #fff;
  border-right: 1px solid #eff0ea;
  border-bottom: 1px solid #eff0ea;
}
.xin-rightArrow {
  display: none;
  position: absolute;
  right: -22px;
  top: 35vh;
  background: none;
  border: none;
  cursor: pointer;
  background-color: rgb(243, 178, 178);
  border: 2px solid rgb(254, 254, 254);
  border-radius: 10px;
  height: 51px;
  width: 54px;
}

.xin-rightArrow span {
  display: block;
  margin-top: 2px;
  background-color: #fff;
  border-radius: 15px;
  height: 4px;
  width: 30px;
  transition: 0.2s;
}

.xin-rightArrow:hover span {
  margin: auto;
}

.xin-rightArrow-in:hover span:nth-child(1) {
  width: 25px;
  transform: translate(-3px, 8px) rotate(30deg);
}
.xin-rightArrow-in:hover span:nth-child(2) {
  display: none;
}
.xin-rightArrow-in:hover span:nth-child(3) {
  width: 25px;
  transform: translate(-3px, -8px) rotate(-30deg);
}

.xin-rightArrow-out:hover span:nth-child(1) {
  width: 25px;
  transform: translate(0px, 8px) rotate(-30deg);
}
.xin-rightArrow-out:hover span:nth-child(2) {
  display: none;
}
.xin-rightArrow-out:hover span:nth-child(3) {
  width: 25px;
  transform: translate(0px, -8px) rotate(30deg);
}
.xin-leftArrow {
  display: none;
  position: absolute;
  right: 0px;
  top: 35vh;
  background: none;
  border: none;
  cursor: pointer;
  background-color: rgb(13, 220, 92);
  border: 2px solid rgb(254, 254, 254);
  /* padding: 20px; */
  border-radius: 10px;
  height: 51px;
  width: 54px;
}

.xin-leftArrow span {
  display: block;
  margin-top: 2px;
  background-color: #fff;
  border-radius: 15px;
  height: 4px;
  width: 30px;
  transition: 0.2s;
}

.xin-leftArrow:hover span {
  margin: auto;
}

.xin-leftArrow-in:hover span:nth-child(1) {
  width: 25px;
  transform: translate(-3px, 8px) rotate(-30deg);
}
.xin-leftArrow-in:hover span:nth-child(2) {
  display: none;
}
.xin-leftArrow-in:hover span:nth-child(3) {
  width: 25px;
  transform: translate(-3px, -8px) rotate(30deg);
}

.xin-leftArrow-out:hover span:nth-child(1) {
  width: 25px;
  transform: translate(0px, 8px) rotate(30deg);
}
.xin-leftArrow-out:hover span:nth-child(2) {
  display: none;
}
.xin-leftArrow-out:hover span:nth-child(3) {
  width: 25px;
  transform: translate(0px, -8px) rotate(-30deg);
}

.card .xin-card-img-top {
  width: 100%;
  height: 7vw;
  object-fit: contain;
  flex-grow: 1;
}

.xin-card-body {
  padding: 0;
}

.selectedFoodArea {
  height: 100vh;
  background-color: #fff;
  border-left: 1px solid#EFF0EA;
  border-bottom: 1px solid#EFF0EA;
  /* transition: 1s; */
}

/* .chooseArea {
  height: 40vh;
} */
.selectedDetil {
  width: 65px;
  height: 65px;
}
.fa-trash {
  cursor: pointer;
}
.fa-trash:hover {
  color: red;
}

.foodCard {
  cursor: pointer;
}
.canvasFood {
  margin-top: -50px;
  pointer-events: none;
}
.myCanvas {
  position: absolute;
}
.canvasBtns .price-btn {
  background-color: #82ca35;
  border: 1px solid #82ca35;
  cursor: default;
  padding: 0 30px;
}
.pay-btn {
  padding: 10px 30px;
}
.price-btn:hover {
  background-color: #82ca35;
  border: 1px solid #82ca35;
}
.xinCanvasTitle {
  font-size: 35px;
  font-weight: 900;
}
.lunchbox_stock {
  padding: 0;
  padding-left: 10px;
}
.canvasTextArea {
  width: 250px;
  padding-top: 15px;
}
.canvaslabelTitle {
  position: relative;
}
.canvaslabel {
  position: absolute;
  background-color: #fff;
  top: -10px;
  left: 10px;
}

.xin-canvas-topay {
  margin-top: -50px;
  z-index: 999;
}

@media screen and (max-width: 992px) {
  .xin-rightArrow {
    position: absolute;
    display: block;
  }
  .xin-leftArrow {
    position: absolute;
    left: -30px;
    display: block;
  }
  .selectedFoodSideMenuNX {
    position: relative;
  }
  .sideMenuNX {
    position: relative;
  }
  .xin-nav-link {
    padding: 0rem;
    margin: 0;
  }

  .hidden {
    display: none;
  }

  .hiddenSideBar {
    position: absolute;
    width: 1rem;
    height: 100vh;
    transition: all 0.2s;
  }

  .showSideBar {
    position: absolute;
    height: 100vh;
    width: 65%;
  }
  .hiddenSelectedFoodSideBar {
    position: absolute;
    width: 1rem;
    right: 0;
    height: 100vh;
    transition: all 0.2s;
  }

  .showSelectedFoodSideBar {
    position: absolute;
    right: 0;
    height: 100vh;
    width: 65%;
  }

  .card .xin-card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: contain;
    flex-grow: 1;
  }

  .selectedDetil {
    width: 50px;
    height: 50px;
  }
  .canvasFood {
    margin-top: 0px;
    width: 70%;
  }

  .xin-food-area {
    border: none;
  }
  .selectedFoodArea {
    border: none;
  }
  .canvasTextArea {
    width: 250px;
  }
  .xin-canvas-topay {
    margin-top: 10px;
    z-index: 999;
  }
}
